.content{
    text-align: center;
}
.result-wrap{
    margin-top: 30px;
}
.result{
    margin-bottom: 20px;
}
.goHome-btn{

    display: inline-block;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #999;
    cursor: pointer;
    margin: 5px;
}