<!DOCTYPE html>
<html>
<head>
        <%= require('html-loader!./layout/html-head.html') %>
        <title><%= htmlWebpackPlugin.options.title %> -- E-Mall 2018</title>
</head>

<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <div class="w">
        <!-- list of keywords of items -->
        <div class="keyword-list">
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=phone">Mobile</a>
                <a class="link" target="_blank" href="./list.html?keyword=digital">Electronics</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=computer">Computers</a>
                <a class="link" target="_blank" href="./list.html?keyword=office">Stationery</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=TV">TV</a>
                <a class="link" target="_blank" href="./list.html?keyword=conditioner">AC</a>
                <a class="link" target="_blank" href="./list.html?keyword=fridge">Fridge</a>
                <a class="link" target="_blank" href="./list.html?keyword=washing">Laundry</a>

            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=kitchen">Kitchen</a>
                <a class="link" target="_blank" href="./list.html?keyword=appliance">Appliances</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=decoration">Home decorations</a>
                <a class="link" target="_blank" href="./list.html?keyword=furniture">Furniture</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=comestic">Comestic</a>
                <a class="link" target="_blank" href="./list.html?keyword=cleaning">Cleaning</a>
                <a class="link" target="_blank" href="./list.html?keyword=toitetries">Toiletries</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=baby">Baby products</a>
                <a class="link" target="_blank" href="./list.html?keyword=toy">Toys</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=shoes">Shoes</a>
                <a class="link" target="_blank" href="./list.html?keyword=suitcase">Luggage</a>
                <a class="link" target="_blank" href="./list.html?keyword=watch">Watches</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=sports">Sports</a>
                <a class="link" target="_blank" href="./list.html?keyword=soccer">Soccer</a>
                <a class="link" target="_blank" href="./list.html?keyword=auto">Auto</a>
            </div>
            <div class="keyword-item">
                <a class="link" target="_blank" href="./list.html?keyword=book">Books</a>
                <a class="link" target="_blank" href="./list.html?keyword=audio">Audio</a>
                <a class="link" target="_blank" href="./list.html?keyword=books">E-Books</a>
            </div>
        </div>
        <!-- carousel -->
        <div class="banner-container">
            <div class="banner">
                <div class="banner-item">
                    <img class="banner-img" src="<%= require('../image/banner/banner1.jpg') %>" alt="Heater">
                </div>
                <div class="banner-item">
                    <img class="banner-img" src="<%= require('../image/banner/banner2.jpg') %>" alt="Heater">
                </div>
                <div class="banner-item">
                    <img class="banner-img" src="<%= require('../image/banner/banner3.jpg') %>" alt="Heater">
                </div>
                <div class="banner-item">
                    <img class="banner-img" src="<%= require('../image/banner/banner4.jpg') %>" alt="Heater">
                </div>

            </div>
            <div class="banner-dots"></div>
        </div>
    </div>
    <div class="w">
        <div class="floor">
            <div class="floor-title">Household appliance</div>
            <div class="floor-item"><a href="./list.html?categoryId=100006">
                <div class="floor-item-text">Double-door Refrigerator</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="Double-door refrigerator">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100007">
                <div class="floor-item-text">HD TV</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-2.jpg') %>" alt="HD TV">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100008">
                <div class="floor-item-text">Washing Machine</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-3.jpg') %>" alt="Washing Machine">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100009">
                <div class="floor-item-text">Air Conditioner</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-4.jpg') %>" alt="Air Conditioner">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100010">
                <div class="floor-item-text">Heater</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-5.jpg') %>" alt="Heater">
            </a></div>
        </div>
        <div class="floor">
            <div class="floor-title">Ditigals</div>
            <div class="floor-item"><a href="./list.html?categoryId=100011">
                <div class="floor-item-text">Laptop</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-1.jpg') %>" alt="Laptop">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100012">
                <div class="floor-item-text">Mobile</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-2.jpg') %>" alt="Mobile">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100013">
                <div class="floor-item-text">iPad</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-3.jpg') %>" alt="iPad">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100014">
                <div class="floor-item-text">Camera</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-4.jpg') %>" alt="Camera">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100015">
                <div class="floor-item-text">Accessory</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-5.jpg') %>" alt="Accessory">
            </a></div>
        </div>
        <div class="floor">
            <div class="floor-title">Household appliance</div>
            <div class="floor-item"><a href="./list.html?categoryId=100006">
                <div class="floor-item-text">Double-door Refrigerator</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-1.jpg') %>" alt="Double-door refrigerator">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100007">
                <div class="floor-item-text">HD TV</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-2.jpg') %>" alt="HD TV">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100008">
                <div class="floor-item-text">Washing Machine</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-3.jpg') %>" alt="Washing Machine">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100009">
                <div class="floor-item-text">Air Conditioner</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-4.jpg') %>" alt="Air Conditioner">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100011">
                <div class="floor-item-text">Heater</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor1-5.jpg') %>" alt="Heater">
            </a></div>
        </div>
        <div class="floor">
            <div class="floor-title">Ditigals</div>
            <div class="floor-item"><a href="./list.html?categoryId=100012">
                <div class="floor-item-text">Laptop</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-1.jpg') %>" alt="Laptop">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100013">
                <div class="floor-item-text">Mobile</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-2.jpg') %>" alt="Mobile">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100014">
                <div class="floor-item-text">iPad</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-3.jpg') %>" alt="iPad">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100015">
                <div class="floor-item-text">Camera</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-4.jpg') %>" alt="Camera">
            </a></div>
            <div class="floor-item"><a href="./list.html?categoryId=100016">
                <div class="floor-item-text">Accessory</div>
                <img class="floor-item-image" src="<%= require('../image/floor/floor2-5.jpg') %>" alt="Accessory">
            </a></div>
        </div>
        
    </div>
    <%= require('html-loader!./layout/footer.html') %>
</body>

</html>