<!DOCTYPE html>
<html>
<head>
        <%= require('html-loader!./layout/html-head.html') %>
        <title><%= htmlWebpackPlugin.options.title %> -- E-Mall 2018</title>
</head>

<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <!-- for crumb -->
    <div class="crumb">
        <div class="w">
            <a class="link" href="./index.html">EMall</a>
            <span> > </span>
            <span class="link-text">Details of orders</span>
        </div>
    </div>
    <div class="w">
        <%= require('html-loader!./layout/nav-side.html') %>
        <div class="content with-nav">
            <div class="status-container"></div>
            
            
            
        </div>
        <div class="content with-nav">
            <div class="main-container"></div>
            
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html') %>
</body>

</html>