<!DOCTYPE html>
<html>
<head>
        <%= require('html-loader!./layout/html-head.html') %>
        <title><%= htmlWebpackPlugin.options.title %> -- E-Mall 2018</title>
</head>

<body>
<%= require('html-loader!./layout/header-simple.html') %>
<div class="middleW">
    <div class="reset-step1 hide">
        <div class="reset-title">
            Reset password...
        </div>
        <div class="reset-notice">What's your username?</div>
        <div class="reset-error">
            <i class="fa fa-minus-circle"></i><span class="reset-error-msg"> ERROR</span>
        </div>
        <div class="reset-item">
            <label>
                <i class="fa fa-user reset-label"></i>
                <input class="reset-input" id="reset-username" type="text" placeholder="Username..."></input>
            </label>
        </div>
        <div class="reset-btn">Next</div>
        <div class="reset-link">
            <a class="link" href="./user-login.html">Login</a>
        </div>
    </div>
    <div class="reset-step2 hide">
        <div class="reset-title">
            Reset password...
        </div>
        <div class="reset-notice"></div>
        <div class="reset-error">
            <i class="fa fa-minus-circle"></i><span class="reset-error-msg"> ERROR</span>
        </div>
        <div class="reset-item">
            <label>
                <i class="fa fa-user reset-label"></i>
                <input class="reset-input" id="reset-answer" type="text" placeholder="Answer..."></input>
            </label>
        </div>
        <div class="reset-btn">Next</div>
        <div class="reset-link">
            <a class="link" href="./user-login.html">Login</a>
        </div>
    </div>
    <div class="reset-step3 hide">
        <div class="reset-title">
            Reset password...
        </div>
        <div class="reset-notice">What's your new password?</div>
        <div class="reset-error">
            <i class="fa fa-minus-circle"></i><span class="reset-error-msg"> ERROR</span>
        </div>
        <div class="reset-item">
            <label>
                <i class="fa fa-user reset-label"></i>
                <input class="reset-input" id="reset-password" type="password" placeholder="New password..."></input>
            </label>
        </div>
        <div class="reset-btn">Next</div>
        <div class="reset-link">
            <a class="link" href="./user-login.html">Login</a>
        </div>
    </div>

</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>