/*
* @Author: ytan1
* @Date:   2018-03-15 11:34:03
* @Last Modified by:   ytan1
* @Last Modified time: 2018-03-18 22:43:09
*/
.cart-table{
    width: 100%;
    border-bottom: 1px #ebebeb solid;
    margin-bottom: 5px;
    border-collapse: collapse;
}
.cart-head-row{
    height: 40px;
    background: #eee;
    vertical-align: middle;
    line-height: 40px;
}

.cart-content-row{
    height: 80px;
}
/*arrange length percentage of select grid*/
.cart-select{
    width: 10%;
    position: relative;
    text-align: center;
}
/*arrange the position of checkbox and 'All'*/
.cart-select .cart-select-all{
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 36px;

}
.cart-select label span{
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 54px;
}

/*arrange length percentage of item grid*/
.cart-item{
    width: 50%;
    position: relative;
    text-align: left;
    overflow: auto;
}
/*'Items' in cart header align to title in cart content*/
.cart-head-row .cart-item{
    padding-left: 85px;
}
/*arrange the length for grids*/
.cart-price{
    width: 10%;
    text-align: center;
}
.cart-amount{
    width: 10%;
    text-align: center;
}
.cart-total-price{
    width: 10%;
    text-align: center;
}
.cart-delete{
    width: 10%;
    text-align: center;
}
/*image display*/
.cart-item .img-con{
    height: 80px;
    width: 80px;
    display: inline-block;
}
.cart-item .img-con img{
    width: 100%;
    height: 100%;
}
/*title after the image*/
.cart-item .item-title{
    display: inline-block;
    position: absolute;
    height: 80px;
    line-height: 80px;
    margin-left: 5px;
}
/*footer*/
.cart-footer-row{
    height: 40px;
    background: #eee;
    vertical-align: middle;
    line-height: 40px;
}
.cart-footer-row .cart-delete-all{
    width: 10%;
    text-align: center;
}
.cart-footer-row .cart-total-price{
    width: 20%;
    float: right;
}
.cart-footer-row .cart-total-price span{
    color: #c60023;
    font-size: 18px;
    overflow: auto;
}
.cart-checkout{
    float: right;
}
/*cart amount*/
.cart-amount input{
    text-align: right;
    width: 30%;
    outline: none;
    height: 15px;
    width: 40px;

}
.cart-amount span{
    display: inline-block;
    background: #fff;
    width: 15px;
    height: 15px;
    border: 1px solid #aaa;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.cart-amount .plus{
    margin-left: 2px;
}
.cart-amount .minus{
    margin-right: 2px;
}

.errorTip{
    color: #f60;
    background: #eee;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}