/*
* @Author: ytan1
* @Date:   2018-03-10 20:00:37
* @Last Modified by:   ytan1
* @Last Modified time: 2018-03-10 20:57:37
*/

.user-center-list{
    padding: 0 20px 20px 20px;
}
.user-center-title{
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;

}
.user-center-item{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.user-center-label{
    display: inline-block;
    width: 70px;
    text-align: center;
}
.user-center-btn{
    margin-top:20px;
}
input.user-center-text{
    outline: none;
    padding-left: 5px;
}