<footer>
    <div class="footer-nav">
        <a class="link" href="http://github.com/ytan1/Emall" target="_blank"><i class="fa fa-github"></i>Github</a> |
        <a class="link" href='#'>Others</a> | 
        <a class="link" href='#'>Others</a> |
        <a class="link" href='#'>Others</a>
    </div>
    <div class="footer-copyright">
        Copyright Ⓒ 2018 Emall.com All Right Reserve
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</footer>