<div class="nav">
    <div class="w">
        <div class="user-head">
            <span class="not-login">
                <span class="link js-login">LOGIN</span>
                <span class="link js-register">SIGN UP</span>
            </span>
            <span class="is-login">
                <span class="link-text">Welcome,</span>
                <span class="user-name"></span>
                <span class="link js-logout">LOGOUT</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a href="./cart.html" class="link"><i class="fa fa-shopping-cart"></i>  Cart(<span class="item-no">0</span>)</a></li>
            <li class="nav-item">
                <a class="link" href="./orders.html">Orders</a>
            </li>
             <li class="nav-item">
                <a class="link" href="./user-center.html">Center</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./about.html">about</a>
            </li>


        </ul>
    </div>
</div>