/*
* @Author: ytan1
* @Date:   2018-03-20 13:02:34
* @Last Modified by:   ytan1
* @Last Modified time: 2018-03-20 14:03:01
*/
.content{
    margin-bottom: 10px;
}
/*for status part*/

.status-container{
    padding: 0 20px 20px 20px;
}
.status-line{
    margin: 10px 0;
}
/*for buttons*/
.pay, .cancel{
    margin-right: 20px;
    line-height: 30px;
    height: 30px;
}
.btn-none{
    line-height: 30px;
    height: 30px;
    background: #eee;
    color: #ddd;
    cursor: no-drop;
}
/*for list part*/
.main-container{
    padding: 0 20px 20px 20px;
}
.order-list-title{
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;

}
.table-head, .table-body{
    width: 100%;
    border-bottom: 1px #ebebeb solid;
    margin-bottom: 5px;
    border-collapse: collapse;
}
.order-head-row{
    height: 40px;
    background: #eee;
    vertical-align: middle;
    line-height: 40px;
}
.order-img{
    width: 10%;
}
.order-item-row .order-img{
    padding: 10px;
    text-align: center;
}
.order-img-ele{
    width: 80px;
    height: 80px;
}
.order-item{
    width: 30%;
    text-align: left;

}
.order-price{
    width: 20%;
    text-align: center;
}
.order-amount{
    width: 20%;
    text-align: center;
}

.order-total-price{
    width: 20%;
    text-align: center;
}
/*.order-summary-row{ should be applied to table ele
   margin-top: 26px; 
}*/
.table-body{
    margin-top: 20px;
}

